@charset "UTF-8";
body {
  background-size: cover;
  background-position: center center;
  font-family: "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body .no_landscape {
  display: none;
}
@media screen and (orientation: landscape) and (max-width: 1023px) {
  body .no_landscape {
    position: fixed;
    background-image: url(../images/heroimage_index@2x.jpg);
    z-index: 10000000000000002000;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: bottom center;
    display: block;
  }
  body .no_landscape .container-fluid {
    padding: 0 2rem;
    height: 100%;
  }
  body .no_landscape .container-fluid .row {
    height: 100%;
  }
  body .no_landscape .slogan_img img, body .no_landscape .product_img img {
    width: 100%;
    height: auto;
  }
  body .no_landscape .slogan_img img {
    max-width: 539px;
  }
}
@media screen and (orientation: landscape) and (max-width: 1023px) and (min-width: 768px) and (max-width: 1024px) {
  body .no_landscape .slogan_img img {
    max-width: 400px;
  }
}
@media screen and (orientation: landscape) and (max-width: 1023px) {
  body .no_landscape .product_img img {
    max-width: 465px;
  }
}
@media screen and (orientation: landscape) and (max-width: 1023px) and (min-width: 768px) and (max-width: 1024px) {
  body .no_landscape .product_img img {
    max-width: 400px;
  }
}
@media screen and (orientation: landscape) and (max-width: 1023px) and (max-width: 767px) {
  body .no_landscape .product_img img {
    width: 100%;
    max-width: 290px;
  }
}
@media screen and (orientation: landscape) and (max-width: 1023px) and (max-width: 375px) {
  body .no_landscape .product_img img {
    margin-bottom: 1rem;
  }
}
@media screen and (orientation: landscape) and (max-width: 1023px) {
  body .no_landscape .notice {
    font-size: 0.85rem;
    font-weight: bold;
    color: #9E0000;
  }
}
@media screen and (orientation: landscape) and (max-width: 1023px) {
  body .fullpage {
    display: none;
  }
}

.pc_menu {
  display: block;
}
@media screen and (max-width: 767px) {
  .pc_menu {
    display: none;
  }
}

.mobile_menu {
  display: none;
}
@media screen and (max-width: 767px) {
  .mobile_menu {
    display: block;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
}
header .navbar {
  z-index: 999999;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  header .navbar .container {
    max-width: 100%;
    padding: 0 2rem;
  }
}
@media screen and (max-width: 767px) {
  header .navbar .navbar-brand img {
    max-width: 80px;
  }
}
header .navbar-collapse {
  justify-content: flex-end;
}
header ul {
  padding-left: 0;
  margin-bottom: 0;
  align-items: center;
}
header ul li {
  list-style-type: none;
}
header ul li ul {
  display: flex;
}

.navbar-light .navbar-nav {
  color: #5B5B5B;
  transition: color 0.6s ease-in-out;
  font-size: 1.25rem;
}
@media screen and (max-width: 767px) {
  .navbar-light .navbar-nav {
    flex-direction: row;
  }
}
@media screen and (max-width: 820px) {
  .navbar-light .navbar-nav {
    font-size: 1.1rem;
  }
}
.navbar-light .navbar-nav .nav-item .nav-link {
  position: relative;
}
.navbar-light .navbar-nav .nav-item .nav-link::after {
  display: block;
  width: 100%;
  height: 5px;
  background-color: #9E0000;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
  position: absolute;
  bottom: -0.5rem;
  left: 0;
}
.navbar-light .navbar-nav .nav-item .nav-link.active, .navbar-light .navbar-nav .nav-item .nav-link:hover, .navbar-light .navbar-nav .nav-item .nav-link:active, .navbar-light .navbar-nav .nav-item .nav-link:focus {
  color: #9E0000;
  font-weight: bold;
}
.navbar-light .navbar-nav .nav-item .nav-link.active::after, .navbar-light .navbar-nav .nav-item .nav-link:hover::after, .navbar-light .navbar-nav .nav-item .nav-link:active::after, .navbar-light .navbar-nav .nav-item .nav-link:focus::after {
  opacity: 1;
}
.navbar-light .navbar-nav .nav-item:last-child .nav-link::after {
  display: none;
}

.slogan {
  text-align: right;
  font-size: 0.625rem;
  font-weight: bold;
  margin-right: 0.3rem;
}
.slogan span {
  color: #9E0000;
  font-weight: normal;
}

.social_bar {
  margin-left: 0.5rem;
}
.social_bar ul {
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.social_bar ul li {
  width: 37px;
  height: 37px;
}
.social_bar ul li a {
  width: 100%;
  height: 100%;
  color: #fff !important;
  border-radius: 50%;
  background: linear-gradient(135deg, #C9423E 28.08%, #942E2B 85.35%);
  font-size: 1.13rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  transition: background 0.5s ease-in-out;
}
.social_bar ul li a:hover, .social_bar ul li a:active, .social_bar ul li a:focus {
  background: linear-gradient(135deg, #942E2B 28.08%, #942E2B 85.35%);
}

.position {
  position: relative;
}

.warranty {
  position: absolute;
  right: 15px;
  bottom: -20px;
  color: #9E0000;
  font-weight: bold;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .warranty {
    right: 30px;
  }
}
.warranty::after {
  content: "";
  width: 1000px;
  height: 1px;
  background-color: #9E0000;
  display: block;
  position: absolute;
  right: -1010px;
  bottom: 40%;
}

.friend {
  position: absolute;
  left: 15px;
  bottom: -20px;
  color: #9E0000;
  font-weight: bold;
}
.friend::after {
  content: "";
  width: 1000px;
  height: 1px;
  background-color: #9E0000;
  display: block;
  position: absolute;
  left: -1010px;
  bottom: 40%;
}

#fp-nav ul li:hover .fp-tooltip, #fp-nav.fp-show-active a.active + .fp-tooltip {
  color: #9E0000;
  font-weight: bold;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

#fp-nav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li a.active span, .fp-slidesNav ul li:hover a.active span {
  background: #9e0000 !important;
}

#fp-nav.right {
  right: 1rem;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background: #ffffff;
}

#fp-nav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li a.active span, .fp-slidesNav ul li:hover a.active span {
  background: #9E0000;
}

@media screen and (max-width: 767px) {
  #fp-nav.fp-right {
    right: 7px;
  }
}

.section {
  overflow: hidden;
}

#entrance {
  background-image: url(../images/heroimage_index@2x.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
#entrance .entrance_box, #entrance .fp-scroller, #entrance .container, #entrance .row, #entrance .row > div {
  height: 100%;
}
#entrance .entrance_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (orientation: portrait) and (max-width: 1024px) {
  #entrance {
    background-position: 70% 50%;
    background-image: url(../images/heroimage_index_m@2x.jpg);
  }
  #entrance .entrance_box {
    width: 100% !important;
  }
}
@media screen and (max-width: 820px) {
  #entrance {
    background-image: url(../images/heroimage_index_m@2x.jpg);
    background-position: center bottom;
  }
}
@media screen and (min-width: 376px) and (max-width: 767px) {
  #entrance .entrance_box {
    position: absolute;
    bottom: 11vh;
    width: calc(100% - 2rem);
    left: 1rem;
  }
}
@media screen and (max-width: 375px) {
  #entrance .entrance_box {
    position: absolute;
    bottom: 15vh;
    width: calc(100% - 1rem) !important;
  }
}
#entrance .slogan_img img, #entrance .product_img img {
  width: 100%;
  height: auto;
}
#entrance .slogan_img img {
  max-width: 539px;
}
@media screen and (orientation: portrait) and (max-width: 1024px) {
  #entrance .slogan_img img {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #entrance .slogan_img img {
    max-width: 400px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #entrance .slogan_img img {
    max-width: 400px;
  }
}
@media screen and (orientation: portrait) and (min-width: 768px) and (max-width: 1024px) {
  #entrance .product_img {
    padding-bottom: 25rem;
    text-align: right;
  }
}
@media screen and (max-width: 767px) {
  #entrance .product_img {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
@media screen and (min-width: 376px) and (max-width: 767px) {
  #entrance .product_img {
    width: calc(100% - 2rem);
  }
}
@media screen and (max-width: 375px) {
  #entrance .product_img {
    max-width: calc(100% - 0.3rem);
  }
}
#entrance .product_img img {
  max-width: 465px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #entrance .product_img img {
    max-width: 400px;
  }
}
@media screen and (min-width: 375px) and (max-width: 767px) {
  #entrance .product_img img {
    max-width: 100%;
  }
}
@media screen and (max-width: 374px) {
  #entrance .product_img img {
    max-width: 100%;
  }
}
#entrance .function_img {
  margin-top: 3rem;
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  align-items: end;
}
@media screen and (orientation: portrait) and (max-width: 1024px) {
  #entrance .function_img {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #entrance .function_img {
    margin-top: 1rem;
    max-width: 400px;
  }
}
@media screen and (min-width: 376px) and (max-width: 767px) {
  #entrance .function_img {
    margin-top: 0;
  }
}
@media screen and (max-width: 375px) {
  #entrance .function_img {
    display: none;
  }
}
#entrance .function_img img {
  width: auto;
  height: auto;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #entrance .function_img img {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  #entrance .function_img img {
    width: 100%;
  }
}

#function1 {
  background-image: url(../images/bg@2x.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
}

#function2 {
  background-image: url(../images/bg_2@2x.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
}

#function3 {
  background-image: url(../images/bg_3@2x.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  #function3 {
    background-image: url(../images/bg_3_m@2x.jpg);
    background-position: center bottom;
  }
}

#function4 {
  background-image: url(../images/bg_4@2x.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
}

#function5 {
  background-image: url(../images/bg_5@2x.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
}
@media screen and (orientation: portrait) and (max-width: 1024px) {
  #function5 {
    background-position: center right;
  }
}
@media screen and (max-width: 767px) {
  #function5 {
    background-position: center right;
  }
}

#function1 {
  position: relative;
}
@media screen and (orientation: portrait) and (max-width: 1024px) {
  #function1 .container .row > div {
    width: 100% !important;
  }
}
#function1 .section2_people_img {
  position: absolute;
  bottom: 0;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #function1 .section2_people_img {
    left: 10%;
  }
}
@media screen and (max-width: 767px) {
  #function1 .section2_people_img {
    width: 100%;
  }
}
#function1 .section2_people_img img {
  width: 100%;
  height: auto;
}
#function1 .section2_people_img img {
  max-width: 655px;
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #function1 .section2_people_img img {
    width: 555px;
  }
}
@media screen and (min-width: 1181px) and (max-width: 1199px) {
  #function1 .section2_people_img img {
    width: 455px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1180px) {
  #function1 .section2_people_img img {
    max-width: 455px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #function1 .section2_people_img img {
    max-width: 400px;
  }
}
@media screen and (max-width: 767px) {
  #function1 .section2_people_img img {
    max-width: 300px;
    margin-left: 5vh;
  }
}

@media screen and (orientation: portrait) and (max-width: 1024px) {
  #function2 .container .row > div {
    width: 100% !important;
  }
}
#function2 .product_img_box img {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #function2 .container {
    padding-top: 3rem;
  }
  #function2 .product_img_box img {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 767px) {
  #function2 .product_img_box {
    width: 80%;
    margin: 1rem auto 0;
    text-align: center;
  }
  #function2 .product_img_box img {
    width: 100%;
    height: auto;
  }
}

@media screen and (orientation: portrait) and (max-width: 1024px) {
  #function3 {
    background-position: 90% 50%;
  }
  #function3 .container .row > div {
    width: 100% !important;
  }
}

#function4 {
  clear: both;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #function4 .container {
    padding-top: 8rem;
  }
}
@media screen and (orientation: landscape) and (max-height: 750px) {
  #function4 .video_outer {
    width: 90vh;
    float: right;
  }
}
#function4 .man_right {
  position: absolute;
  bottom: 5vh;
}
#function4 .man_right img {
  width: 100%;
  height: auto;
}
@media screen and (orientation: landscape) and (max-height: 750px) {
  #function4 .man_right {
    height: 75vh;
    width: auto;
  }
  #function4 .man_right img {
    height: 100%;
    width: auto;
  }
}
@media screen and (orientation: portrait) and (max-width: 1024px) {
  #function4 .man_right img {
    width: 100% !important;
    height: auto !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 1180px) {
  #function4 .man_right img {
    width: auto;
    height: 100%;
  }
}
#function4 .video_title, #function4 .video_img {
  text-align: right;
  margin: 0 auto;
}
#function4 .video_title > div, #function4 .video_img > div {
  cursor: pointer;
}
#function4 .video_title img, #function4 .video_img img {
  width: 100%;
  height: auto;
  max-width: 700px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #function4 .video_title img, #function4 .video_img img {
    width: auto;
    height: auto;
    max-width: 500px;
  }
}
@media screen and (max-width: 767px) {
  #function4 .video_title img, #function4 .video_img img {
    width: 100%;
    height: auto;
  }
}

#function5 .title_music {
  text-align: center;
  margin: 0 auto 2rem auto;
}
#function5 .title_music img {
  width: 100%;
  height: auto;
  max-width: 755px;
}
#function5 .download_box {
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  row-gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
@media screen and (max-width: 767px) {
  #function5 .download_box {
    flex-direction: column;
  }
}
@media screen and (orientation: portrait) and (max-height: 630px) {
  #function5 .download_box {
    flex-direction: row;
  }
}
#function5 .download_box .android, #function5 .download_box .ios {
  max-width: 274px;
  height: auto;
}
@media screen and (min-width: 376px) and (max-width: 767px) {
  #function5 .download_box .android, #function5 .download_box .ios {
    max-width: 220px;
  }
}
@media screen and (max-width: 375px) {
  #function5 .download_box .android, #function5 .download_box .ios {
    max-width: 180px;
  }
}
#function5 .download_box .android img, #function5 .download_box .ios img {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 1023px) {
  #function5 .download_box .android img, #function5 .download_box .ios img {
    max-width: 272px;
  }
}
@media screen and (orientation: portrait) and (max-width: 1024px) {
  #function5 .download_outer {
    width: 100% !important;
  }
}
@media screen and (max-width: 767px) {
  #function5 .download_outer {
    margin-top: -7rem;
  }
}
#function5 .download_outer p {
  color: #9E0000;
  margin-bottom: 1rem;
  font-weight: bold;
  text-align: center;
}

#qa_wrapper {
  background-image: url(../images/qa_bg@2x.jpg) !important;
  background-position: left top;
  background-size: 100%;
  background-repeat: no-repeat;
}

.qa_outer {
  margin-top: calc(115px + 6rem);
}
@media screen and (max-width: 767px) {
  .qa_outer {
    margin-top: 90px;
  }
}
.qa_outer .title {
  font-size: 1.875rem;
  color: #9E0000;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5rem;
}
.qa_outer #qa {
  margin-bottom: 15rem;
}
@media screen and (max-width: 767px) {
  .qa_outer #qa {
    margin-bottom: 1rem;
  }
}
.qa_outer #qa .qa_img_box {
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}
.qa_outer #qa .accordion-button {
  background-image: linear-gradient(180deg, #DADADA 0%, #E2E2E2 6%, #E9E9E9 11%, #F0F0F0 16%, #F3F3F3 19%, #F2F2F2 22.92%, #F4F3F3 29.69%, #E4E4E4 82.02%, #F0F0F0 88.04%, #EBEBEB 92.02%, #D2D2D2 97.02%, #EBEBEB 100.02%);
  color: #5B5B5B;
  font-size: 1.175rem;
}
@media screen and (max-width: 767px) {
  .qa_outer #qa .accordion-button {
    font-size: 0.875rem;
    padding: 0.75rem 1rem;
  }
}
.qa_outer #qa .accordion-button:not(.collapsed) {
  background-image: linear-gradient(180deg, #701419 0%, #952728 6%, #B13534 11%, #C23E3B 16%, #C9423E 19%, #942E2B 50.01%, #711519 82.02%, #6E1418 92.02%, #661315 97.02%, #5F1313 100.02%);
  color: #fff;
}
.qa_outer #qa .accordion-button:not(.collapsed)::after, .qa_outer #qa .accordion-button::after, .qa_outer #qa .accordion-button:not(.collapsed)::before, .qa_outer #qa .accordion-button::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}
.qa_outer #qa .accordion-button:not(.collapsed)::after {
  background-image: url(../images/line_right@2x.png) !important;
  opacity: 0.5;
  filter: grayscale(0);
  transform: rotate(0deg);
  z-index: -1;
}
.qa_outer #qa .accordion-button::after {
  background-image: url(../images/line_right@2x.png) !important;
  filter: grayscale(1);
  opacity: 0.1;
  right: 0;
  bottom: 0;
}
.qa_outer #qa .accordion-button:not(.collapsed)::before {
  background-image: url(../images/line_left@2x.png) !important;
  opacity: 0.5;
  filter: grayscale(0);
  transform: rotate(0deg);
  z-index: -1;
}
.qa_outer #qa .accordion-button::before {
  background-image: url(../images/line_left@2x.png) !important;
  filter: grayscale(1);
  opacity: 0.1;
  left: 0;
  top: 0;
}
.qa_outer #qa .accordion-header {
  position: relative;
}
.qa_outer #qa .accordion-header::after {
  display: none;
}
.qa_outer #qa .accordion-body {
  text-align: justify;
}
@media screen and (max-width: 767px) {
  .qa_outer #qa .accordion-body {
    font-size: 0.75rem;
  }
}

.position {
  position: relative;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#footer .man_xs, #footer_qa .man_xs {
  position: absolute;
  right: 2rem;
  top: -100%;
  width: 179px;
  height: auto;
  z-index: 0;
  text-align: right;
}
@media screen and (max-width: 767px) {
  #footer .man_xs, #footer_qa .man_xs {
    display: none;
  }
}
#footer .man_xs img, #footer_qa .man_xs img {
  width: 100%;
  height: auto;
}
#footer .footer_outer, #footer_qa .footer_outer {
  background-image: url(../images/footer_bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #fff;
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 767px) {
  #footer .footer_outer, #footer_qa .footer_outer {
    padding: 1rem 0 13vh;
  }
}
@media screen and (orientation: portrait) and (max-height: 630px) {
  #footer .footer_outer, #footer_qa .footer_outer {
    padding: 1rem 0 16vh;
  }
}
#footer .footer_outer .footer_wrap, #footer_qa .footer_outer .footer_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 2rem 0;
}
@media screen and (max-width: 767px) {
  #footer .footer_outer .footer_wrap, #footer_qa .footer_outer .footer_wrap {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }
}
#footer .footer_outer .footer_wrap .copyright, #footer_qa .footer_outer .footer_wrap .copyright {
  font-size: 0.875rem;
}
@media screen and (max-width: 767px) {
  #footer .footer_outer .footer_wrap .copyright, #footer_qa .footer_outer .footer_wrap .copyright {
    font-size: 0.625rem;
    width: 100%;
  }
}
#footer .footer_outer .footer_wrap .copyright a, #footer_qa .footer_outer .footer_wrap .copyright a {
  color: #fff;
  text-decoration: none;
}
#footer .footer_outer .footer_wrap .copyright a:hover, #footer .footer_outer .footer_wrap .copyright a:active, #footer .footer_outer .footer_wrap .copyright a:focus, #footer_qa .footer_outer .footer_wrap .copyright a:hover, #footer_qa .footer_outer .footer_wrap .copyright a:active, #footer_qa .footer_outer .footer_wrap .copyright a:focus {
  text-decoration: underline;
}
#footer .footer_outer .footer_wrap .copyright_text, #footer_qa .footer_outer .footer_wrap .copyright_text {
  margin-top: 2rem;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #footer .footer_outer .footer_wrap .copyright_text, #footer_qa .footer_outer .footer_wrap .copyright_text {
    margin-top: 0.5rem;
  }
}
@media screen and (max-width: 767px) {
  #footer .footer_outer .footer_wrap .copyright_text, #footer_qa .footer_outer .footer_wrap .copyright_text {
    margin-top: 0.5rem;
  }
}
#footer .footer_outer .footer_wrap .phone, #footer_qa .footer_outer .footer_wrap .phone {
  font-size: 1rem;
}
@media screen and (max-width: 767px) {
  #footer .footer_outer .footer_wrap .phone, #footer_qa .footer_outer .footer_wrap .phone {
    font-size: 0.625rem;
  }
}
#footer .footer_outer .footer_wrap .phone span, #footer_qa .footer_outer .footer_wrap .phone span {
  font-size: 2rem;
}
@media screen and (max-width: 767px) {
  #footer .footer_outer .footer_wrap .phone span, #footer_qa .footer_outer .footer_wrap .phone span {
    font-size: 1.25rem;
    font-weight: bold;
  }
}
#footer .footer_outer .footer_wrap .phone span a, #footer_qa .footer_outer .footer_wrap .phone span a {
  color: #fff;
  text-decoration: none;
}
#footer .footer_outer .footer_wrap .phone span a:hover, #footer .footer_outer .footer_wrap .phone span a:active, #footer .footer_outer .footer_wrap .phone span a:focus, #footer_qa .footer_outer .footer_wrap .phone span a:hover, #footer_qa .footer_outer .footer_wrap .phone span a:active, #footer_qa .footer_outer .footer_wrap .phone span a:focus {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.title_outer {
  display: flex;
  row-gap: 1rem;
  flex-direction: column;
}
.title_outer .title img {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .title_outer {
    padding-right: 3rem;
  }
  .title_outer .title img {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 767px) {
  #function1 .title_outer, #function3 .title_outer {
    padding-right: 3rem;
    padding-bottom: 3rem;
    padding-left: 1rem;
  }
  #function2 .title_outer {
    padding-left: 1rem;
    padding-right: 3rem;
  }
  .title_outer .title img {
    width: 100%;
    height: auto;
  }
}
.title_outer .content {
  font-size: 1.375rem;
  margin-bottom: 1rem;
  color: #000;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);
  text-align: justify;
  width: 95%;
  padding-top: 2rem;
  border-top: 4px solid #BE2121;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .title_outer .content {
    font-size: 1rem;
  }
}
@media screen and (max-width: 767px) {
  .title_outer .content {
    font-size: 0.875rem;
    margin: 0;
    width: 100%;
  }
}

#video .modal-header {
  border: none;
}
#video .modal-header button {
  background-color: #fff;
  border-radius: 50%;
}
#video .modal-content {
  background-color: transparent;
  border: none;
}

.mobile_menu_outer {
  position: fixed;
  bottom: 15px;
  left: 0;
  width: 100%;
  z-index: 99;
}
.mobile_menu_outer ul {
  background: linear-gradient(360deg, #040000 0%, #565656 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 55px;
  margin: 0.5rem 1rem 1rem;
  display: flex;
  flex-direction: row;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 1rem;
}
.mobile_menu_outer ul li a {
  font-size: 0.625rem;
  color: #fff;
  text-align: center;
}
.mobile_menu_outer ul li a img {
  width: 18px;
  height: auto;
  margin-bottom: 0.2rem;
}
.mobile_menu_outer ul li a.active, .mobile_menu_outer ul li a:hover, .mobile_menu_outer ul li a:active, .mobile_menu_outer ul li a:focus {
  color: #fff !important;
  text-shadow: 0 0 3px rgb(255, 255, 255);
}

.how_to_setting {
  padding: 0.8rem 1rem;
  background-color: #5B5B5B;
  color: #fff;
  max-width: 220px;
  text-align: center;
  margin: 2rem auto;
  border-radius: 0.5rem;
}
@media screen and (max-width: 375px) {
  .how_to_setting {
    margin: 1rem auto;
    font-size: 0.85rem;
    padding: 0.5rem 0.8rem;
    max-width: 180px;
  }
}

#setting .modal-body {
  height: 70vh;
}
#setting .sub_title {
  color: #9E0000;
  font-size: 0.75rem;
  margin-bottom: 1rem;
  margin-top: 0.2rem;
}
#setting .setting_category span {
  background-color: #9E0000;
  font-size: 0.75rem;
  color: #fff;
  padding: 5px 14px;
  border-radius: 0.5rem;
  display: inline-block;
}
#setting ul {
  padding-left: 0;
  margin-top: 1rem;
  display: flex;
  row-gap: 1rem;
  flex-direction: column;
}
#setting ul li {
  list-style-type: none;
}
#setting .step_box {
  display: flex;
  font-size: 0.75rem;
  -moz-column-gap: 0.6rem;
       column-gap: 0.6rem;
}
#setting .step_box .step {
  color: #9E0000;
  font-weight: bold;
}
#setting .step_box .content {
  color: #000;
}
#setting .step_box .content a {
  color: #9E0000;
}
#setting p {
  font-size: 0.75rem;
  color: #5B5B5B;
}

.accordion-body {
  color: #5B5B5B;
}

.table {
  border: 1px solid #d9d9d9;
  margin-top: 1rem;
}
.table tr th {
  background-color: rgba(132, 132, 132, 0.1);
  font-weight: bold;
}
.table tr th, .table tr td {
  text-align: center;
  color: #5B5B5B;
  border-right: 1px solid #d9d9d9;
}
.table tr th:last-child, .table tr td:last-child {
  color: #9E0000;
}
.table tr th:last-child i, .table tr th:last-child svg, .table tr td:last-child i, .table tr td:last-child svg {
  margin-left: 0.3rem;
}

.table > :not(:first-child) {
  border-top: 1px solid #D9D9D9;
}

.area_box {
  background-color: #d9d9d9;
  padding: 1rem;
  margin: 1rem 0;
}
.area_box span {
  color: #9E0000;
  font-weight: bold;
}

.notice {
  color: #9E0000;
}

ul.list_no_style {
  padding-left: 0rem;
}
ul.list_no_style li {
  list-style-type: none;
}

ul.list_number {
  padding-left: 1rem;
}
ul.list_number li {
  list-style-type: decimal;
}

ul.list_dots {
  padding-left: 1.3rem;
}
@media screen and (max-width: 767px) {
  ul.list_dots {
    padding-left: 1rem;
  }
}
ul.list_dots li {
  list-style-type: disc;
}/*# sourceMappingURL=main.css.map */